{% extends 'base.html' %}

{% block content %}
{{d.bk_el|safe}}
{% endblock %}

{% block additional_scripts %}
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.css"
    rel="stylesheet" type="text/css">
<!--<link-->
    <!--href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.16.min.css"-->
    <!--rel="stylesheet" type="text/css">-->

<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.js"></script>
<!--<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.16.min.js"></script>-->


{{d.bk_script|safe}}

<script src="{{ url_for('static', filename='js/prices.js') }}"></script>
{% endblock %}